
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates


*.nupkg
packages/


appsettings.json
appsettings.*.json
connectionstrings.config


*.mdf
*.ldf
*.ndf